<header class="header">
    <div  id="menu-btn"  class="fas fa-bars"></div>

<a href="#" class="logo"><span>Projeto</span>js</a>

    <nav  class="navbar">
        <a href="#inicio">inicio</a>
        <a href="#veiculos">veiculos</a>
        <a href="#serviços">serviços</a>
        <a href="#apresentações">apresentações</a>
        <a href="#avaliações">avaliações</a>
        <a href="#contato">contato</a>
    </nav>

    <div id="login-btn">
        <button class="btn">login</button>
        <i class="far fa-user"></i>
    </div>
</header>