:root{
    --preto:#090f13;
    --azul:#171f25;
    --vermelhoClaro:#752e2b;
    --vermelho:#c90a02;
    --branco: #f2eab7;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
    
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background-color: var(--vermelhoClaro);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}


#header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

#header .logo{
    font-size: 2.5rem ;
    color:var(--vermelhoClaro);
    font-weight: bolder;
}

#header .logo span{
    color: var(--vermelho) ;
}

#header .navbar a{
 font-size:  1.7rem;
 margin: 0 1rem;
 color: var(--azul) ; /*mudar a cor para branco após mudar o background*/
}

#header .navbar a:hover{
    color: var(--vermelhoClaro) ;
}

#header .btn{
    margin-top: 0;
}

#header #login-btn i{
    font-size: 2.5rem;
    color: var(--branco);
    cursor: pointer;
    display: none;
}

#menu-btn{
    font-size: 2.5rem;
    color: var(--vermelho);
    cursor: pointer;
    display: none;
}



#header.active{
box-shadow: var(--box-shadow);
padding: 2rem 9%;
}






/*FIM HEADER*/



/* INICIO index HTML */


.inicio-slider {
    width: 90%;
    height: 80rem;
    position: relative;
    top: 5rem;
    overflow: hidden;
  }

  .inicio-slider  .box {
    border: var(--border);
    box-shadow: var(--box-shadow);
    position: relative;
    font-size: 2.2rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inicio-slider .box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
   
  }
  .inicio-slider .box h3{
    position: absolute;
    text-align: center;
    right: 120px;
    z-index: 2;
    
  }

  .inicio-slider .box .btn{
    position: absolute;
    z-index: 2;
    bottom: 20rem;
  }

  
/* .div-slider{
    width: 100%;
    height: 100%;
    position: relative;
   
    display: flex;
    justify-content: center;
    top: 15rem;

}

 .inicio-slide{
    padding: 2rem;
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}


 .inicio-slide .box{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .inicio-slide .box img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .inicio-slide .box:hover img{
    transform: scale(.8);
}

 .inicio-slide .box h3{
font-size: 2.2rem;
color: var(--preto);
} */










/* index FIm */


/*INSCREVER HTML*/
.assinatura{
    width: 100%;
    display: flex;
    padding-top: 20rem;
    justify-content: center;
    align-items: center;
}

.assinatura .cabecalho{
    font-size: 3rem;
    padding: 1rem;
    position: absolute;
    top: 15%;
    transform: translate(-15%);/*arrumar o h2 do site*/
}

.assinatura .box{
    padding: 1rem;
    width: 35rem;
    height: 50rem;
    position: relative;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.assinatura .box:hover{
background-color: var(--preto);
color: var(--vermelho);
width: 37rem;
}
.assinatura .box h3,h4:hover{
    color: var(--vermelhoClaro);
}


.assinatura h2{
    font-size: 2.5rem;
    color: var(--vermelho);
    text-align: center;
    margin-top: 2rem;
    position: relative;
}

.assinatura h3{
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: ver
}

.assinatura h4{
    font-size: 1.8rem;
}
.assinatura h4 span{
    font-size: 3rem;
}

.assinatura ul li{
    font-size: 1.2rem;
    padding-bottom: 2.5rem;
}


.assinatura span{
    color: var(--vermelhoClaro);
}
/* .assinatura{
    display: flex;
    flex-direction: row;
    padding-top: 25rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
} */






/*MERCADO HTML*/

.loja{
    top: 20rem;
    position: relative;
}

.loja .conteudo-loja{
padding-left: 40rem;
display: flex;
margin-bottom: 1.2rem;
}

.loja .conteudo-loja .box{
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-left: .9rem;
    border: var(--border);
}

.loja .conteudo-loja .box img{
    width: 32rem;
}

.loja .conteudo-loja .box h3{
    text-align: center;
    color: var(--azul);
    font-size: 2.2rem;
}
.loja .conteudo-loja .box h4{
color: var(--vermelhoClaro);
font-size: 2.5rem;
}

.loja .conteudo-loja .box span{
    color: var(--vermelho);
    }

    .loja .conteudo-loja .box:hover{
        padding: 2rem;
        transform: scale(0.8);
        background-color: var(--azul);
    }

.loja .conteudo-loja .box:hover h3{
            color: var(--branco);
        }




/*FIM MERCADO HTML*/



/* form-login */


.containerLogin{
  position: fixed;
  top: -105%; left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
/*Quando o botão de login é clicado o top do containerLogin passa a ser 0*/
.containerLogin.active{
    top: 0;
    opacity: 1;

}

.containerLogin form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
}

.containerLogin form .botoes{
   display: flex;
   align-items: center;
   gap: 1rem; 
}

.containerLogin form .botoes .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;


}

.containerLogin form h3{
    color: var(--azul);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.containerLogin form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--azul);
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    border-radius: .5rem;
}

.containerLogin form p{
    padding: 1rem 0;
    font: 1.5rem;
    color: var(--vermelhoClaro);
}

.containerLogin form p a{
    color: var(--vermelho);
    text-transform: uppercase;
    text-decoration: underline;
}

.containerLogin #fechar-form-login{
position: absolute;
top: 1.5rem; right: 2.5rem;
font-size: 3rem;
color: var(--preto);
cursor: pointer;
}

.containerLogin.active{
    top: 0;
    opacity: 1;

}


/* fim form=login */









@media(max-width:991px){
    html{
        font-size: 55%;
    }
    #header{
        padding: 2rem;
    }
    #header.active{
        padding: 2rem;
    }
    .loja .conteudo-loja{
        padding-left: 0;
    }
    
}

@media(max-width:768px){

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
    #header #login-btn i{
        display: block;
    }
    .assinatura{
        flex-direction: column;
    }
    .assinatura .box{
        width: 100%;
        height: auto;
        font-size: 1.5rem;
    }

    
}

@media(max-width:768px){
    #header #login-btn .btn{
        display: none;
    }

    #header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: #fff;
        border-top: var(--border) ;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    #header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    #header .navbar a{
        display: block;
        margin: 2rem ;
        font-size:2rem ;

    }
    #loja .conteudo-loja{
        padding-left: 0;
    }
    .box img{
        width: 20rem;
    }
    .box h3{
        font-size: 1.2rem;
    }
    .box h4{
        font-size: 1.4rem;
    }
    .box:hover{
        padding: .5rem;
        background-color: var(--azul);
    }

   
}
/*arrumar a responsividade*/
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .assinatura .box{
        font-size: 1.3rem;
    }
    .assinatura{
        padding: 1rem;
    }
    .cabecalho{
        padding: 5rem;
    }

    .assinatura .box h3{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .loja .conteudo-loja{
        padding-left: 0;
    }
    .box img{
        width: 10rem;
    }
    .box h3{
        font-size: 1.2rem;
    }
    .box h4{
        font-size: 1.4rem;
    }
    .box:hover{
        padding: .5rem;
        background-color: var(--azul);
    }


    
}
